.list-group a.active{
	font-size: 1.1em;
	color: #333;
	text-align: center;
	padding: 3px 12px;
}
.list-group a.child{
    padding: 3px 12px;
    line-height: 30px;
}
.list-group .cat-name{
	display: inline-block;
}
.list-group a.curent, .list-group a.curent:hover{
    outline: 3px dotted tomato;
    z-index: 10;
    border: 0;
    font-weight: bold;
    color: #333;
}